AngularClient/TitanNetwork/WebApiTier/Service References/UserServiceReference/UserService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WCFService/Services/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessLogicTier.DataTranferObjects" />
  <xs:import schemaLocation="http://localhost/WCFService/Services/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFService.DataTranferObjects" />
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessLogicTier.DataTranferObjects" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q1:ArrayOfUserInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessLogicTier.DataTranferObjects" minOccurs="0" name="GetUserByIdResult" nillable="true" type="q2:UserInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChatsOfUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessLogicTier.DataTranferObjects" minOccurs="0" name="dto" nillable="true" type="q3:UserInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChatsOfUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessLogicTier.DataTranferObjects" minOccurs="0" name="GetChatsOfUserResult" nillable="true" type="q4:ArrayOfChatDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessLogicTier.DataTranferObjects" minOccurs="0" name="dto" nillable="true" type="q5:UserInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BusinessLogicTier.DataTranferObjects" minOccurs="0" name="GetUserFriendsResult" nillable="true" type="q6:ArrayOfUserInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMutualFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BusinessLogicTier.DataTranferObjects" minOccurs="0" name="userInfo1" nillable="true" type="q7:UserInfoDTO" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BusinessLogicTier.DataTranferObjects" minOccurs="0" name="userInfo2" nillable="true" type="q8:UserInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMutualFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BusinessLogicTier.DataTranferObjects" minOccurs="0" name="GetMutualFriendsResult" nillable="true" type="q9:ArrayOfUserInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWayBetweenUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BusinessLogicTier.DataTranferObjects" minOccurs="0" name="id1" nillable="true" type="q10:UserInfoDTO" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BusinessLogicTier.DataTranferObjects" minOccurs="0" name="id2" nillable="true" type="q11:UserInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWayBetweenUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BusinessLogicTier.DataTranferObjects" minOccurs="0" name="GetWayBetweenUsersResult" nillable="true" type="q12:ArrayOfUserInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BusinessLogicTier.DataTranferObjects" minOccurs="0" name="newUser" nillable="true" type="q13:UserInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BusinessLogicTier.DataTranferObjects" minOccurs="0" name="dto" nillable="true" type="q14:UserInfoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCFService.DataTranferObjects" minOccurs="0" name="model" nillable="true" type="q15:AccountDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCFService.DataTranferObjects" minOccurs="0" name="model" nillable="true" type="q16:AccountDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckCredentialsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>