AngularClient/TitanNetwork/WCFService.Tests/Service References/UserServiceReference/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WCFService/Services/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WCFService/Services/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WCFService/Services/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService.DataTranferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetChatsOfUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChatsOfUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetChatsOfUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChatsOfUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserFriends" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetMutualFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMutualFriends" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetMutualFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMutualFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetWayBetweenUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWayBetweenUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetWayBetweenUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWayBetweenUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserById" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAllUsers" message="tns:IUserService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAllUsersResponse" message="tns:IUserService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserById" message="tns:IUserService_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserByIdResponse" message="tns:IUserService_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChatsOfUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetChatsOfUser" message="tns:IUserService_GetChatsOfUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetChatsOfUserResponse" message="tns:IUserService_GetChatsOfUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserFriends" message="tns:IUserService_GetUserFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserFriendsResponse" message="tns:IUserService_GetUserFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMutualFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetMutualFriends" message="tns:IUserService_GetMutualFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetMutualFriendsResponse" message="tns:IUserService_GetMutualFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWayBetweenUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetWayBetweenUsers" message="tns:IUserService_GetWayBetweenUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetWayBetweenUsersResponse" message="tns:IUserService_GetWayBetweenUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddUser" message="tns:IUserService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddUserResponse" message="tns:IUserService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateUser" message="tns:IUserService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateUserResponse" message="tns:IUserService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteUserById" message="tns:IUserService_DeleteUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteUserByIdResponse" message="tns:IUserService_DeleteUserById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChatsOfUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetChatsOfUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserFriends">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMutualFriends">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetMutualFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWayBetweenUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetWayBetweenUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserById">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost/WCFService/Services/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>