backend/TitanNetwork/WebApiTier/Service References/UserServiceReference/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IUserService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://titanservicedev.azurewebsites.net/Services/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://titanservicedev.azurewebsites.net/Services/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://titanservicedev.azurewebsites.net/Services/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService.DataTranferObjects" />
      <xsd:import schemaLocation="http://titanservicedev.azurewebsites.net/Services/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFService.DataTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetChatsOfUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChatsOfUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetChatsOfUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChatsOfUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserFriends" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetMutualFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMutualFriends" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetMutualFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMutualFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetWayBetweenUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWayBetweenUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetWayBetweenUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWayBetweenUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAccount" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_CheckCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckCredentials" />
  </wsdl:message>
  <wsdl:message name="IUserService_CheckCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_FindUserByCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUserByCredentials" />
  </wsdl:message>
  <wsdl:message name="IUserService_FindUserByCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserByCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_FindUserByUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUserByUserName" />
  </wsdl:message>
  <wsdl:message name="IUserService_FindUserByUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserByUserNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAllUsers" message="tns:IUserService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAllUsersResponse" message="tns:IUserService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserById" message="tns:IUserService_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserByIdResponse" message="tns:IUserService_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChatsOfUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetChatsOfUser" message="tns:IUserService_GetChatsOfUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetChatsOfUserResponse" message="tns:IUserService_GetChatsOfUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserFriends" message="tns:IUserService_GetUserFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserFriendsResponse" message="tns:IUserService_GetUserFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMutualFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetMutualFriends" message="tns:IUserService_GetMutualFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetMutualFriendsResponse" message="tns:IUserService_GetMutualFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWayBetweenUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetWayBetweenUsers" message="tns:IUserService_GetWayBetweenUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetWayBetweenUsersResponse" message="tns:IUserService_GetWayBetweenUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateUser" message="tns:IUserService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateUserResponse" message="tns:IUserService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteUser" message="tns:IUserService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteUserResponse" message="tns:IUserService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddAccount" message="tns:IUserService_AddAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddAccountResponse" message="tns:IUserService_AddAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckCredentials">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/CheckCredentials" message="tns:IUserService_CheckCredentials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/CheckCredentialsResponse" message="tns:IUserService_CheckCredentials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUserByCredentials">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/FindUserByCredentials" message="tns:IUserService_FindUserByCredentials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/FindUserByCredentialsResponse" message="tns:IUserService_FindUserByCredentials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUserByUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/FindUserByUserName" message="tns:IUserService_FindUserByUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/FindUserByUserNameResponse" message="tns:IUserService_FindUserByUserName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChatsOfUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetChatsOfUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserFriends">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMutualFriends">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetMutualFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWayBetweenUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetWayBetweenUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCredentials">
      <soap:operation soapAction="http://tempuri.org/IUserService/CheckCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserByCredentials">
      <soap:operation soapAction="http://tempuri.org/IUserService/FindUserByCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserByUserName">
      <soap:operation soapAction="http://tempuri.org/IUserService/FindUserByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IUserService" type="tns:IUserService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IUserService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChatsOfUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetChatsOfUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserFriends">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMutualFriends">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetMutualFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWayBetweenUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetWayBetweenUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCredentials">
      <soap:operation soapAction="http://tempuri.org/IUserService/CheckCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserByCredentials">
      <soap:operation soapAction="http://tempuri.org/IUserService/FindUserByCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserByUserName">
      <soap:operation soapAction="http://tempuri.org/IUserService/FindUserByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://titanservicedev.azurewebsites.net/Services/UserService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IUserService" binding="tns:BasicHttpsBinding_IUserService">
      <soap:address location="https://titanservicedev.azurewebsites.net/Services/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>