backend/TitanNetwork/WebApiTier/Service References/BotServiceReference/BotService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OperationResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResultDTO" nillable="true" type="tns:OperationResultDTO" />
</xs:schema>