backend/TitanNetwork/WebApiTier/Service References/BotServiceReference/BotService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BotService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IBotService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://titanservicedev.azurewebsites.net/Services/BotService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://titanservicedev.azurewebsites.net/Services/BotService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://titanservicedev.azurewebsites.net/Services/BotService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService.DataTranferObjects" />
      <xsd:import schemaLocation="http://titanservicedev.azurewebsites.net/Services/BotService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFService.DataTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBotService_GetResponseFromBot_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResponseFromBot" />
  </wsdl:message>
  <wsdl:message name="IBotService_GetResponseFromBot_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponseFromBotResponse" />
  </wsdl:message>
  <wsdl:message name="IBotService_SendMessageToBot_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageToBot" />
  </wsdl:message>
  <wsdl:message name="IBotService_SendMessageToBot_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageToBotResponse" />
  </wsdl:message>
  <wsdl:message name="IBotService_AttachBotToUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AttachBotToUser" />
  </wsdl:message>
  <wsdl:message name="IBotService_AttachBotToUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AttachBotToUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IBotService">
    <wsdl:operation name="GetResponseFromBot">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotService/GetResponseFromBot" message="tns:IBotService_GetResponseFromBot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotService/GetResponseFromBotResponse" message="tns:IBotService_GetResponseFromBot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageToBot">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotService/SendMessageToBot" message="tns:IBotService_SendMessageToBot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotService/SendMessageToBotResponse" message="tns:IBotService_SendMessageToBot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttachBotToUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotService/AttachBotToUser" message="tns:IBotService_AttachBotToUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotService/AttachBotToUserResponse" message="tns:IBotService_AttachBotToUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBotService" type="tns:IBotService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetResponseFromBot">
      <soap:operation soapAction="http://tempuri.org/IBotService/GetResponseFromBot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageToBot">
      <soap:operation soapAction="http://tempuri.org/IBotService/SendMessageToBot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttachBotToUser">
      <soap:operation soapAction="http://tempuri.org/IBotService/AttachBotToUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IBotService" type="tns:IBotService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IBotService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetResponseFromBot">
      <soap:operation soapAction="http://tempuri.org/IBotService/GetResponseFromBot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageToBot">
      <soap:operation soapAction="http://tempuri.org/IBotService/SendMessageToBot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttachBotToUser">
      <soap:operation soapAction="http://tempuri.org/IBotService/AttachBotToUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BotService">
    <wsdl:port name="BasicHttpBinding_IBotService" binding="tns:BasicHttpBinding_IBotService">
      <soap:address location="http://titanservicedev.azurewebsites.net/Services/BotService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IBotService" binding="tns:BasicHttpsBinding_IBotService">
      <soap:address location="https://titanservicedev.azurewebsites.net/Services/BotService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>