backend/TitanNetwork/WebApiTier/Service References/BotServiceReference/BotService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://titanservicedev.azurewebsites.net/Services/BotService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService.DataTranferObjects" />
  <xs:import schemaLocation="http://titanservicedev.azurewebsites.net/Services/BotService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFService.DataTransferObjects" />
  <xs:element name="GetResponseFromBot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponseFromBotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetResponseFromBotResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageToBot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFService.DataTranferObjects" minOccurs="0" name="message" nillable="true" type="q1:MessageDTO" />
        <xs:element minOccurs="0" name="chatId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageToBotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFService.DataTransferObjects" minOccurs="0" name="SendMessageToBotResult" nillable="true" type="q2:OperationResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachBotToUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachBotToUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFService.DataTransferObjects" minOccurs="0" name="AttachBotToUserResult" nillable="true" type="q3:OperationResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>